#header{
    background: #34495E;
    color: #fff;
}

#branding h1{
    color:#fff
}

div.breadcrumbs {
    background: #34495E;
    color: #ffffff;
  }

  .login .submit-row{
    padding: 0px !important;
  }

  .input[type="submit"],input[type="button"],.submit-ro input{
    width: 100%;
    background: #34495E;
  }

  .module h2, .module caption,.inline-group h2{
    background: #34495E;

  }

  thead th{
      background: #34495E;
      color:  #fff;;
  }

  thead th .text{
      color: #fff;
  }

  