{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Account Deposits</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Account Deposits Form <small>AUTOMEX TECHNOLOGIES</small></h2>
              
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form class=" form-deposit rm-horizontal form-label-left input_mask " action="" method="POST">
                {% csrf_token %}
                
                {% include 'partials/_messages.html'%}
                
                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                  <label for="profile id">Transaction ID</label>
                    <input type="text" name="transactionId" class="withdraw_id form-control has-feedback-left" id="inputSuccess2" placeholder="Account Number" value="{{values.transactionId}}" readonly>
                    <span class="fa fa-ticket form-control-feedback left" aria-hidden="true"></span>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                  <label for="profile id">Account No</label>
                    <input type="text" name="accountNo" class="accountNumber form-control has-feedback-left" id="inputSuccess2" placeholder="Account Number" value="{{values.accountNo}}">
                    <span class="fa fa-ticket form-control-feedback left" aria-hidden="true"></span>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-8 form-group has-feedback">
                  <label for="profile id">Account Name</label>
                    <input type="text" name="accountName" class="mName form-control has-feedback-left" id="inputSuccess2" value="{{values.accountName}}" readonly>
                    <span class="fa fa-ticket form-control-feedback left" aria-hidden="true"></span>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-4 form-group has-feedback">
                  <label for="profile id">Account Type</label>
                    <input type="text" name="accountType" class="accountType form-control has-feedback-left" id="inputSuccess2" value="{{values.accountType}}" readonly>
                    <span class="fa fa-ticket form-control-feedback left" aria-hidden="true"></span>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-4 form-group has-feedback">
                  <label for="profile id">Member Nin Number</label>
                    <input type="text" name="ninNumber" class="mNinNumber form-control has-feedback-left" id="inputSuccess2" value="{{values.ninNumber}}" readonly>
                    <span class="fa fa-ticket form-control-feedback left" aria-hidden="true"></span>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-4 form-group has-feedback">
                  <label for="profile id">Member Contact</label>
                    <input type="tel" name="contact" class="mContact form-control has-feedback-left" id="inputSuccess2" value="{{values.contact}}"readonly>
                    <span class="fa fa-ticket form-control-feedback left" aria-hidden="true"></span>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-4 form-group has-feedback">
                  <label for="profile id">Account Currency</label>
                    <input type="text" name="accountCurrency" class="mcurrency form-control has-feedback-left" id="inputSuccess2" value="{{values.accountCurrency}}" readonly>
                    <span class="fa fa-ticket form-control-feedback left" aria-hidden="true"></span>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                  <label for="profile id">Old Balance</label>
                    <input type="number" name="oldBalance" class="mBalance form-control has-feedback-left oldBalance" id="inputSuccess2" value="{{values.oldBalance}}"readonly>
                    <span class="fa fa-ticket form-control-feedback left" aria-hidden="true"></span>
                </div>

                
                <div class="col-md-6 col-sm-6 col-xs-6 form-group has-feedback">
                  <label for="profile id">Deposit</label>
                    <input type="number" name="depositAmount" class="form-control has-feedback-left depositAmount" id="inputSuccess2" value="{{values.depositAmount}}" >
                    <span class="fa fa-ticket form-control-feedback left" aria-hidden="true"></span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6 form-group has-feedback">
                  <label >New Balance</label>
                    <input type="number" name="newBalance" class="form-control has-feedback-left newBalance" id="inputSuccess2" value="{{values.newBalance}}"readonly>
                    <span class="fa fa-ticket form-control-feedback left" aria-hidden="true"></span>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                  <label>Transaction Date</label>
                    <input type="date" name="depositDate" class="form-control has-feedback-left" id="inputSuccess2" value="{{values.depositDate}}" >
                    <span class="fa fa-ticket form-control-feedback left" aria-hidden="true"></span>
                </div>

                <div class="clearfix"></div>
                <div class="form-group">
                  <div class="col-md-4 col-sm-5 col-xs-9 col-md-offset-8">
                    <button type="button" class="btn btn-primary">Cancel</button>
                     <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
          </div>
          </div>
      </div>
      </div>
        <div class="clearfix"></div>
      
{% endblock %}

