{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Make Account Charges</h3>
          
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Charges Form <small>AUTOMEX TECHNOLOGIES</small></h2>
              
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg">Click to Add</button>

              <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">

                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                      </button>
                      <h4 class="modal-title" id="myModalLabel">Client Information</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-charges form-horizontal form-label-left input_mask" action="" method="POST">
                            {% csrf_token %}
                            
                            {% include 'partials/_messages.html'%}
                            
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                              <label >Transaction Id</label>
                                <input type="text" name="transactionId" class="withdraw_id form-control has-feedback-left" id="inputSuccess2" placeholder="Transaction Id" value="{{values.transactionId}}"readonly>
                                <span class="fa fa-ticket form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                              <label for="profile id">Account No</label>
                                <select name="accountNo" class="chargeAcc form-control has-feedback-left" id="accountNo inputSuccess2">
                                  {% for member in member %}
                                   <option>{{member.accountNo}}</optio>
                                  {% endfor %}
                                </select>
                                <span class="fa fa-ticket form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-6 form-group has-feedback">
                                <label>Account  Name</label>
                                  <input type="text" name="accountName" class=" form-control has-feedback-left" id="accountName inputSuccess2" placeholder="accountName" value="{{values.accountName}}">
                                  <span class="fa fa-ticket form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-6 form-group has-feedback">
                                <label>Account Type</label>
                                  <input type="text" name="accountType" class="accountType form-control has-feedback-left" id="inputSuccess2" placeholder="Account Type" value="{{values.accountType}}">
                                  <span class="fa fa-ticket form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <label>Charge Type</label>
                                  <input type="text" name="chargeType" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Charge Type" value="{{values.chargeTypey}}">
                                  <span class="fa fa-ticket form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <label>Current Balance</label>
                                  <input type="number" name="oldBalance" class="chargeoldBalance form-control has-feedback-left" id="inputSuccess2" placeholder="" value="{{values.oldBalance}}">
                                  <span class="fa fa-ticket form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                              <label>Charge Amount</label>
                                <input type="number" name="chargeAmount" class="chargeAmount form-control has-feedback-left" id="inputSuccess2" placeholder="Charege Amount" value="{{values.chargeAmount}}">
                                <span class="fa fa-ticket form-control-feedback left" aria-hidden="true"></span>
                          </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <label>New Balance</label>
                                  <input type="number" name="newBalance" class="newBalance form-control has-feedback-left" id="inputSuccess2" placeholder="New Balance" value="{{values.newBalance}}">
                                  <span class="fa fa-ticket form-control-feedback left" aria-hidden="true"></span>
                            </div>
            
                            <div class="clearfix"></div>
                            <div class="form-group">
                              <div class="col-md-4 col-sm-5 col-xs-9 col-md-offset-8">
                                <button type="button" class="btn btn-primary">Cancel</button>
                                 <button class="btn btn-primary" type="reset">Reset</button>
                                <button type="submit" class="btn btn-success">Submit</button>
                              </div>
                            </div>
            
                          </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                      
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
      </div>
      </div>
        <div class="clearfix"></div>
        <script src="{% static '/js/chargesajax.js' %}"></script>
      
{% endblock %}

